.container {
    margin: auto;
    width: 800px;
}
.position {
    display: inline-block;
    position: relative;

}
.image {
    display: block;
    width: 200px;


}
button {
    position: absolute;
    right: 0;
    bottom: 0;

}